
body{font-family: 'segoe UI','sans-serif';
	margin:0;
	background-color: #E19B8B;
	color: #B44446;
}
h1{
	background-color: #E2B0A5;
	color: white;
	text-align: center;
	padding: 30px 20px;
}
img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	border-radius: 4px #E2B0A5;
	margin-bottom: 10px;
}
h2{ background-color: #E2B0A5;
	margin: 20px auto;
	padding: 20px;
	max-width: 700px;
	border-radius: 10px;
	box-shadow: 0 4px 12px #E1E1E1 ;
}
p{
	max-width: 700px;
	margin: 20px auto;
	text-align: center;
}
ul{
	max-width:700px;
	margin:20px auto;
	padding-left:20px
	 }
li{
	margin: 8px 0;
}
a{
	color:#E1E1E1;
	text-decoration: underline;
	font-weight: bold;
}
a:hover{
	color: #E1E1E1;
}